<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinaso.record">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".base.RecordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PhotoSaveActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />

        <activity
            android:name=".activity.PhotoListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PhotoDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PhotoShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AlarmListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AlarmAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ClockAlarmActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chinaso.record.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <receiver android:name=".receiver.LoongggAlarmReceiver">
            <intent-filter>
                <action android:name="com.loonggg.alarm.clock" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AlarmClockBroadcast">
            <intent-filter>
                <action android:name="com.record.alarm.clock" />
            </intent-filter>
        </receiver>
    </application>

</manifest>