<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.assistant">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.AssistantApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.MemoListActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.MemoAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activity.ClockListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ClockAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TaskListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TaskAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ClockAlarmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.AlarmClockBroadcast">
            <intent-filter>
                <action android:name="com.app.assistant.clock" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.app.assistant.wake.gray" />
            </intent-filter>
        </receiver>


        <service
            android:name=".service.DaemonService"
            android:exported="true"
            android:process=":daemon" />

        <service
            android:name=".service.DaemonService$DaemonInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":daemon" />

        <service
            android:name=".receiver.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".receiver.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.assistant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>